.view {
  padding-top: 80px;
}

.welcome {
  padding: 0px;
  margin: 0px;
  background-color: #f9f9f9;
}

img {
  float: left;

}

.sidebar_links {
  list-style-type: none;
  background-color: #f9f9f9;
  padding: 0px;
  margin: 0px;
}

.welcome_links {
  padding: 0px;
}
